<div>
    
    <div>
        <span>{{post.title}}</span>
        <span>{{post.content}}</span>
        <span>{{better_date post.date_created}}</span>
        {{#if isCreator}}
        <a href="/post/{{post.id}}/edit">Edit Post</a>
        {{/if}}
    </div>
    <div>
        {{#if isLoggedIn}}
            {{#unless isCreator}}
                <form id="comment-form">
                    <div id="comment-errors"></div>
                    <div>Comment on this post</div>
                    <div> <input type="text" id="comment-text"></div>
                    <button id="comment-button">
                        Send Comment
                    </button>
                </form>
                <script>
                    document.getElementById("comment-form").addEventListener("submit", (event) => {
                        event.preventDefault();

                        const comment = document.getElementById("comment-text").value;

                        fetch("/api/comment", {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                comment_text: comment,
                            }),
                        }).then((result) => {
                            if(!result.ok){
                                document.getElementById("comment-errors").textContent = "Unable to Comment";
                            } else {
                                window.location.reload();
                            }
                        });


                    });
                </script>
            {{/unless}}
        {{/if}}
    </div>
</div>